body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #dcf3ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 2000px;
    width: 1800px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 1450px;
    height: 100px;
}

.To {
    width: 150px;
    height: 45px;
}


.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 1450px;
    height: 1000px;
}

.summary {
    width: 1450px;
    height: 300px;
}

.roles {
    width: 1450px;
    height: 600px;

}

.episodes {
    width: 1450px;
    height: 400px;
}

.advice {
    width: 1450px;
    height: 400px;
}